<div class="reset-password-container">
  <h2>{{ 'RESET.TITLE' | translate }}</h2>

  <form *ngIf="!success" (ngSubmit)="onSubmit()">
    <div>
      <label>{{ 'RESET.NEW_PASSWORD' | translate }}</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>

    <div>
      <label>{{ 'RESET.CONFIRM_PASSWORD' | translate }}</label>
      <input
        type="password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
      />
    </div>

    <div *ngIf="errorMessage" class="error">
      {{ errorMessage | translate }}
    </div>

    <button type="submit">{{ 'RESET.SUBMIT' | translate }}</button>
  </form>

  <div *ngIf="success" class="success">
    {{ 'RESET.SUCCESS' | translate }}
  </div>
</div>
